<div class="col-md-8" id="bankform">
    <form [formGroup]="dementiaAssesmentForm">
       
        <div class="col-md-10 container" *ngIf="Type=='Demographics'">

            <div class="col-md-3" id="heading">
                <h5>Demography</h5>
            </div>
            <br>
            <div class="row">


                <div class=" col-md-4 inputBox">
                    <input type="text" name="Responder_Name" formControlName="Responder_Name"  minlength="2"
                        maxlength="100" minlength="3" required>

                    <label>ResponderName</label>
                    <div class="row"
                        *ngIf='this.dementiaAssesmentForm.controls["Responder_Name"].status=="INVALID" && this.Demographicsbtn==true'>
                        <p>*Responder_Name Mandatory</p>
                    </div>
                </div>
                <div class=" col-md-4 inputBox">
                    <input type="text" name="Relationship_With_PWD" formControlName="Relationship_With_PWD"
                        minlength="3" maxlength="100" required>

                    <label>ResponderRelation</label>
                    <div class="row"
                        *ngIf='this.dementiaAssesmentForm.controls["Relationship_With_PWD"].status=="INVALID" && this.Demographicsbtn==true'>
                        <p>*Relationship_With_PWD Mandatory</p>
                    </div>
                </div>


            </div>
            <div class="row" formGroupName="Demographics">

                <div class=" col-md-4 inputBox">
                    <input type="text" name="Name" formControlName="Name"  minlength="3" maxlength="100" minlength="3" required>

                    <label>PWDName</label>
                    <div class="row"
                        *ngIf="this.dementiaAssesmentForm.get('Demographics')?.get('Name')?.status=='INVALID'    && this.Demographicsbtn==true">
                        <p>*PWDName Mandatory</p>
                    </div>
                </div>
                <div class=" col-md-4 inputBox">
                    <input type="date" class="date-picker" name="Date_of_birth" formControlName="Date_of_birth"
                    max="{{maxdate | date:'yyyy-MM-dd'}}"  onkeyup="this.setAttribute('value', this.value);" value="">

                    <label>Date of birth</label>
                    <div class="row"
                        *ngIf="this.dementiaAssesmentForm.get('Demographics')?.get('Date_of_birth')?.status=='INVALID'    && this.Demographicsbtn==true">
                        <p>*Date_of_birth Mandatory</p>
                    </div>
                </div>
                <div class=" col-md-4 inputBox">
                    <input type="text" name="Occupation" formControlName="Occupation" minlength="3"
                        onkeyup="this.setAttribute('value', this.value);" value="" required>

                    <label>Occupation</label>
                    <div class="row"
                        *ngIf="this.dementiaAssesmentForm.get('Demographics')?.get('Occupation')?.status=='INVALID'    && this.Demographicsbtn==true">
                        <p>*Occupation Mandatory</p>
                    </div>
                </div>


                <div class=" col-md-4 inputBox" name="Languages_known">
                    <ng-multiselect-dropdown value="dropdownList" formControlName="Languages_known"
                        [placeholder]="'select Languages '" [settings]="dropdownSettings" [data]="dropdownList"
                        [(ngModel)]="selectedItems">
                    </ng-multiselect-dropdown>
                    <div class="row"
                        *ngIf="this.dementiaAssesmentForm.get('Demographics')?.get('Languages_known')?.status=='INVALID'    && this.Demographicsbtn==true">
                        <p>*Languages_known Mandatory</p>
                    </div>
                </div>

                <div class=" col-md-4 inputBox">
                    <input type="text" name="Primary_Caregiver_Name" formControlName="Primary_Caregiver_Name" minlength="3"
                        onkeyup="this.setAttribute('value', this.value);" value="" >

                    <label>PrimaryCaregiverName </label>
                    <!-- <div class="row"
                        *ngIf="this.dementiaAssesmentForm.get('Demographics')?.get('Primary_Caregiver_Name')?.status=='INVALID'    && this.Demographicsbtn==true">
                        <p>*Primary_Caregiver_Name Mandatory</p>
                    </div> -->
                </div>
                <div class=" col-md-4 inputBox">
                    <input type="text" name="Current_Homecare_Attender" formControlName="Current_Homecare_Attender" minlength="3"
                        onkeyup="this.setAttribute('value', this.value);" value="" >

                    <label>CurrentHomecareAttender</label>
                    <!-- <div class="row"
                        *ngIf="this.dementiaAssesmentForm.get('Demographics')?.get('Current_Homecare_Attender')?.status=='INVALID'    && this.Demographicsbtn==true">
                        <p>*Current_Homecare_Attender Mandatory</p>
                    </div> -->
                </div>

                <div class="col-md-4">


                    <p>Please select Gender:</p>
                    <input class="col-md-2" type="radio" id="html" name="fav_language" value="Male"
                        formControlName="Gender">
                    <label for="html">Male</label>
                    <input class="col-md-2" type="radio" id="css" name="fav_language" value="Female"
                        formControlName="Gender">
                    <label for="css">Female</label><br>
                    <div class="row"
                        *ngIf="this.dementiaAssesmentForm.get('Demographics')?.get('Gender')?.status=='INVALID'    && this.Demographicsbtn==true">
                        <p>*Gender Mandatory</p>
                    </div>
                </div>
            </div>
            <br>


            <br>
            <button id="next" type="button" class="btn btn-info" (click)="dementiaCreateAssesment()"
                [disabled]="step==4">SAVE AND
                NEXT</button>
        </div>
    </form>

    <div *ngIf="Type==='MedicalHistory'">

        <div class="col-md-10">
            <div class="col-md-3" id="heading">
                <h5>Medical History</h5>
            </div>
            <div class="row" *ngFor="let x of Conditions ;let i=index">
              

                                <div class="col-md-4" id="qstdata">

                                <label for=""> {{x.ConditionName}}</label>

                            </div>

                            <div class="col-md-4" id="radiobtn1">
                                <label class="radio-inline">
                                    <input type="radio" id="inlineRadio1" [(ngModel)]="x.ConditionStatus"
                                        name="{{x.ConditionName}}" ng-model="x.ConditionStatus" value="Yes" required>Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" id="inlineRadio2" [(ngModel)]="x.ConditionStatus"
                                        name="{{x.ConditionName}}" ng-model="x.ConditionStatus" value="No" required>No
                                </label>
                           
                                <input type="radio" id="inlineRadio3" [(ngModel)]="x.ConditionStatus"
                                    name="{{x.ConditionName}}" ng-model="x.ConditionStatus" value="Unsure"
                                    required>Unsure
                                    <div class="row"
                                    *ngIf="x.ConditionStatus==''   && this.MedicalHistorybtn==true">
                                    <p>*{{x.ConditionName}} Mandatory</p>
                                </div>
                                </div>
                                <div class="row-md-4   " id="inputdata" >

                                <label class="radio-inline" *ngIf="x.ConditionStatus=='Yes'">
                                    <input type="text" id="inlineRadio3" [(ngModel)]="x.Duration"
                                        name="{{x.ConditionName}}" ng-model="x.ConditionStatus" placeholder="Enter Duration" required>
                                </label>
                                <!-- <div class="row"
                                *ngIf="x.ConditionStatus=='Yes'   &&x.Duration=='' ">
                                <p>*{{x.ConditionName}} Data Mandatory</p>
                            </div> -->


                </div>
            </div>
            <form [formGroup]="dementiaAssesmentFormMedicalHistory">
                <div class="col-md-10 container">


                    <br>
                    <div class="row" formGroupName="MedicalHistory">
                        <div class=" col-md-3 inputBox">
                            <input type="text" name="Dementia_Diagnosis:" formControlName="Dementia_Diagnosis" value=""
                                minlength="2" maxlength="100" required>

                            <label>Dementia_Diagnosis:</label>
                            <div class="row"
                            *ngIf="this.dementiaAssesmentFormMedicalHistory.get('MedicalHistory')?.get('Dementia_Diagnosis')?.status=='INVALID'    && this.MedicalHistorybtn==true">
                            <p>*Dementia_Diagnosis Mandatory</p>
                        </div>
                        </div>
                        <div class=" col-md-3 inputBox">

                            <input formControlName="Date_Of_Diagnosis" class="form-control" id="date" name="date"
                            max="{{maxdate | date:'yyyy-MM-dd'}}" onkeyup="this.setAttribute('value', this.value);" type="date" required="">
                               

                                <div class="row"
                                *ngIf="this.dementiaAssesmentFormMedicalHistory.get('MedicalHistory')?.get('Date_Of_Diagnosis')?.status=='INVALID'    && this.MedicalHistorybtn==true">
                                <p>*Date_Of_Diagnosis Mandatory</p>
                            </div>
                        </div>
                        <div class=" col-md-3 inputBox">

                            <select class="form-select" name="MRI_CTScan" formControlName="MRI_CTScan" required="">
                                <option selected value="">Select MRI_CTScan</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>


                            </select>
                            <div class="row"
                            *ngIf="this.dementiaAssesmentFormMedicalHistory.get('MedicalHistory')?.get('MRI_CTScan')?.status=='INVALID'    && this.MedicalHistorybtn==true">
                            <p>*MRI_CTScan Mandatory</p>
                        </div>
                        </div>

                        <div class=" col-md-3 inputBox">



                            <select class="form-select" name="StageID" formControlName="StageID"
                                (change)="stageSelection($event)" required>
                                <option selected value="">Select Stage</option>
                                <option value="Saving" *ngFor="let data of stagedata" value="{{data.StageID}}">
                                    {{data.StageLevel}}</option>


                            </select>
                            <div class="row"
                            *ngIf="this.dementiaAssesmentFormMedicalHistory.get('MedicalHistory')?.get('StageID')?.status=='INVALID'    && this.MedicalHistorybtn==true">
                            <p>*selectStage Mandatory</p>
                        </div>


                      
                        </div> 
                     
                       
                        <ng-container formGroupName="Physical_Impairment">



                            <div class="row">

                                <!-- <div class=" col-md-4 inputBox">
                                    <input type="text" name="OtherInfo" formControlName="OtherInfo" 
                                        maxlength="100" required>

                                    <label>OtherInfo:</label>
                                    
                                    <div class="row"
                                    *ngIf="this.dementiaAssesmentFormMedicalHistory.get('MedicalHistory')?.get('Physical_Impairment')?.get('OtherInfo')?.status=='INVALID'    && this.MedicalHistorybtn==true">
                                    <p>*OtherInfo Mandatory</p>
                                </div>
        
                                </div> -->
                                <!-- <div class=" col-md-4 inputBox">
                                    <input type="text" name="AdditionalInfo" formControlName="AdditionalInfo" value=""
                                        minlength="2" maxlength="100" required>

                                    <label>AdditionalInfo:</label>
                                    <div class="row"
                                    *ngIf="this.dementiaAssesmentFormMedicalHistory.get('MedicalHistory')?.get('Physical_Impairment')?.get('AdditionalInfo')?.status=='INVALID'    && this.MedicalHistorybtn==true">
                                    <p>*AdditionalInfo Mandatory</p>
                                </div>
                                </div> -->


                                <div class=" col-md-4 inputBox">


                                    <ng-multiselect-dropdown value="dropdownphysnd"
                                        formArrayName="Physical_impairmentData"
                                        [placeholder]="'select PhysicalCondition'" [settings]="dropdownSetting"
                                        [data]="dropdownphysnd" let i=index [(ngModel)]="selectedItem"
                                        (onSelect)="onItemSelectphycnd($event)" (onDeSelect)="onDeSelectphycnd($event)">

                                    </ng-multiselect-dropdown>


                 <div class="row"
                                    *ngIf="this.phycondition==false  && this.MedicalHistorybtn==true">
                                    <p>*AdditionalInfo Mandatory</p>
                                </div>
                                </div>

                            </div>
                        </ng-container>

                        <br><br>
                        <div class="row">

                   

            

                         
                        </div>
                    </div>

                    <br>
                    <button id="next" type="button" class="btn btn-info" (click)="dementiaCreateAssesment()"
                        [disabled]="step==4">SAVE AND
                        NEXT</button>
                </div>

            </form>
        </div>

    </div>

    


 <div class="col-md-10 container" *ngIf="Type=='GeneralAbilities'">

            <div class="col-md-3" id="heading">
                <h5>GeneralAbilities</h5>
            </div>
            <br>

         
<div class="row" *ngFor="let data of dementiaQuestion;let i=index" >

<div class="col-md-4">
<!-- <label for="">dataa1</label> -->
<h6 >{{data.Question}}</h6>
<br>
</div>

<div class="col-md-4 " id="radiobtns" >
    <input type="radio" id="inlineRadio1" [(ngModel)]="dementiaQuestiondata[i].Answer"   name="{{data.QuestionID}}"
    value="Yes" required>Yes
    <input type="radio" id="inlineRadio2" [(ngModel)]="dementiaQuestiondata[i].Answer"  name="{{data.QuestionID}}"
    value="No" required>No
    <input type="radio" id="inlineRadio3" [(ngModel)]="dementiaQuestiondata[i].Answer"  name="{{data.QuestionID}}"
    value="Unsure" required>Unsure
    <div class="row" *ngIf="dementiaQuestiondata[i].Answer=='' && this.genbtn==true">
        <p>**Answer mandatory </p>
            </div>
</div>
<div class="col-md-4">
    <input type="text" placeholder="Enter The Comment" [(ngModel)]="dementiaQuestiondata[i].Comment"  >

    <!-- <div class="row" *ngIf="dementiaQuestiondata[i].Comment.length<3 && dementiaQuestiondata[i].Answer=='Yes'">
<p>comment mandatory </p>
    </div> -->
</div>

<!-- {{dementiaQuestiondata[i].QuestionID}}
{{dementiaQuestiondata[i].Answer}}
{{dementiaQuestiondata[i].Comment}} -->
                                </div>
        

                <button id="next" type="button" class="btn btn-primary" (click)="dementiaCreateAssesment()"
            >SAVE AND
                NEXT</button>

            <br>
           
        </div>
   
    <form [formGroup]="dementiaAssesmentBiography">
        <div class="col-md-10 container" *ngIf="Type=='Biography'">

            <div class="col-md-3" id="heading">
                <h5>Biography</h5>
            </div>

            <br>
            <ng-container class="row" formGroupName="Biography">
                <div class="row">
                    <div class=" col-md-4 inputBox">
                        <input type="text" name="What_does_typical_Day_look_like_for_PWD"
                            formControlName="What_does_typical_Day_look_like_for_PWD" value="" minlength="2"
                            maxlength="100" required>

                        <label>*What_does_typical_Day_look_like_for_PWD</label>

                        <div class="row"
                        *ngIf="this.dementiaAssesmentBiography.get('Biography')?.get('What_does_typical_Day_look_like_for_PWD')?.status=='INVALID'    && this.Demographicsbtn==true">
                        <p>*What_does_typical_Day_look_like_for_PWD Mandatory</p>
                    </div>


                       
                    </div>
                    <div class=" col-md-4 inputBox">
                        <input type="text" name="OtherInformation" formControlName="OtherInformation" value=""
                            minlength="2" maxlength="100" required>

                        <label>*OtherInformation</label>
                        <div class="row"
                        *ngIf="this.dementiaAssesmentBiography.get('Biography')?.get('OtherInformation')?.status=='INVALID'    && this.Demographicsbtn==true">
                        <p>**OtherInformation Mandatory</p>
                    </div>
                    </div>
                </div>
                <div class="row">

                    <h4>Personal Life</h4>

                </div><br>


                <ng-container formGroupName="Personal_Life">
                    <div class="row">
                        <div class=" col-md-4 inputBox">
                            <input type="text" name="Place_of_Birth" formControlName="Place_of_Birth" value=""
                                minlength="2" maxlength="100" required>

                            <label>*Place Of Birth</label>
                            <div class="row"
                            *ngIf="this.dementiaAssesmentBiography.get('Biography')?.get('Personal_Life')?.get('Place_of_Birth')?.status=='INVALID'    && this.Demographicsbtn==true">
                            <p>*Place_of_Birth Mandatory</p>
                        </div>
                        </div>
                        <div class=" col-md-4 inputBox">
                            <input type="text" name="Any_award_or_achievement"
                                formControlName="Any_award_or_achievement" value="" minlength="2" maxlength="100"
                                required>

                            <label>*Any_award_or_achievement</label>
                            <div class="row"
                            *ngIf="this.dementiaAssesmentBiography.get('Biography')?.get('Personal_Life')?.get('Any_award_or_achievement')?.status=='INVALID'    && this.Demographicsbtn==true">
                            <p>*Any_award_or_achievement Mandatory</p>
                        </div>
                        </div>
                        <div class=" col-md-4 inputBox">
                            <input type="text" name="Any_important_personal_information"
                                formControlName="Any_important_personal_information" value="" minlength="2"
                                maxlength="100" required>

                            <label>*Any_important_personal_information</label>
                            <div class="row"
                            *ngIf="this.dementiaAssesmentBiography.get('Biography')?.get('Personal_Life')?.get('Any_important_personal_information')?.status=='INVALID'    && this.Demographicsbtn==true">
                            <p>*Any_important_personal_information Mandatory</p>
                        </div>
                        </div>
                    </div>



                    <div class="row">
                        <h4>Names of spouse</h4>
                    </div><br>
                    <ng-container [formGroup]="Spouses">
                        <div class="row">
                            <div class="row">
                                <div class=" col-md-4 inputBox">

                                    <input type="text" name="SpouseName" formControlName="SpouseName" minlength="2"
                                        maxlength="100" required>

                                    <label>*Name of spouse</label>
                                    <div class="row"
                                    *ngIf="this.Spouses.controls['SpouseName'].status=='INVALID' && this.spouseadded==true">
                                    <p>*SpouseName Mandatory</p>
                                </div>
                                </div>
                                <div class=" col-md-4 inputBox">

                                    <select class="form-select" name="Type" formControlName="Marital_Status" required="">
                                        <option selected value="">Select Marital Status</option>

                                        <option value="married">married</option>
                                        <option value="Unmarried">Unmarried</option>
                                        <option value="Widowed">Widowed</option>
                                        <option value="Separated">Separated</option>
                                    </select>
                                    <div class="row"
                                    *ngIf="this.Spouses.controls['Marital_Status'].status=='INVALID' && this.spouseadded==true">
                                    <p>*Marital_Status Mandatory</p>
                                </div>


                                </div>
                                <div class=" col-md-4 inputBox">



                                    <select class="form-select" name="Expired" formControlName="Expired" required="">
                                        <option selected value="">Select Status</option>

                                        <option value="Passed Away">Passed Away</option>
                                        <option value="Alive">Alive</option>
                                    </select>

                                    <div class="row"
                                    *ngIf="this.Spouses.controls['Expired'].status=='INVALID' && this.spouseadded==true">
                                    <p>*Expired Mandatory</p>
                                </div>

                                </div>
                                <div class=" col-md-4 inputBox">

                                    <input type="text" name="SpouseComment" formControlName="SpouseComment"
                                        minlength="2" maxlength="100" required>

                                    <label>*SpouseComment</label>
                                    <div class="row"
                                    *ngIf="this.Spouses.controls['SpouseComment'].status=='INVALID' && this.spouseadded==true">
                                    <p>*SpouseComment Mandatory</p>
                                </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary" (click)="onspouseadd()">Add Spouse</button>


                                </div>


                                <div class="col-md-4">
                                    <div class="table">
                                    <table *ngIf="spousedata.length > 0">
                                        <thead>
                                            <tr>
                                                <td><h5>Name</h5></td>

                                                <td><h5>Status</h5></td>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let spouseData of spousedata;let i=index">
                                            <td><h5>{{spouseData.SpouseName}}</h5></td>
                                            <td>

                                                <h5>{{spouseData.Expired}}</h5>

                                            </td>
                                            <td (click)="deletespousedata(i)"><img
                                                    src="../../../assets/images/delete.png" alt=""
                                                    style="height: 20px;"></td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            </div>

                        </div>

                    </ng-container>

                    <br>

                    <div class="row">
                        <h4>Names of children</h4>
                    </div>


                    <br>
                    <ng-container [formGroup]="children">
                        <div class="row">
                            <div class=" col-md-4 inputBox">

                                <input type="text" name="ChildrenName" formControlName="ChildrenName" value=""
                                    minlength="2" maxlength="100" required>

                                <label>Name Of Children</label>
                                <div class="row"
                                *ngIf="this.children.controls['ChildrenName'].status=='INVALID' && this.childrenadded==true">
                                <p>*children Mandatory</p>
                            </div>
                            </div>
                            <div class=" col-md-4 inputBox">

                                <select class="form-select" name="Expired" formControlName="Expired" required="">
                                    <option selected value="">Select Marital Status</option>

                                    <option value="Passesd Away">Passesd Away</option>
                                    <option value="Alive">Alive</option>

                                </select>
                                <div class="row"
                                *ngIf="this.children.controls['Expired'].status=='INVALID' && this.childrenadded==true">
                                <p>*Expired Mandatory</p>
                            </div>
                            </div>
                            <div class=" col-md-4 inputBox">

                                <input type="text" name="ChildrenComment" formControlName="ChildrenComment" value=""
                                    minlength="2" maxlength="100" required>

                                <label>AdditionalInformation</label>
                                <div class="row"
                                *ngIf="this.children.controls['ChildrenComment'].status=='INVALID' && this.childrenadded==true">
                                <p>*children Mandatory</p>
                            </div>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary" (click)="onChildrenAdd()">Add Children</button>
                            </div>
                            <div class="col-md-6">
                                <div class="table">
                                <table *ngIf="childrendata.length > 0">
                                    <thead>
                                        <tr>
                                            <td><h5>Name</h5></td>

                                            <td><h5>Status</h5></td>
                                        </tr>
                                    </thead>
                                
                                    <tbody *ngFor="let childrenData of childrendata;let i=index">
                                        <td><h5>{{childrenData.ChildrenName}}</h5></td>
                                        <td><h5>{{childrenData.Expired}}</h5></td>
                                        <td (click)="deletchilddata(i)"><img src="../../../assets/images/delete.png"
                                                alt="" style="height: 20px;"></td>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                        <div class="row">

                        </div>
                    </ng-container>







                    <div class="row">

                        <h4>Names of siblings</h4>
                    </div>

                    <ng-container [formGroup]="silblings">
                        <div class="row">
                            <div class="row">
                                <div class=" col-md-4 inputBox">

                                    <input type="text" name="Name" formControlName="Name" value="" minlength="2"
                                        maxlength="100" required>

                                    <label>Name Of Sibling</label>
                                    <div class="row"
                                    *ngIf="this.silblings.controls['Name'].status=='INVALID' && this.ondataadded==true">
                                    <p>*Name Mandatory</p>
                                </div>
                                </div>
                                <div class=" col-md-4 inputBox">

                                    <select class="form-select" name="Expired" formControlName="Expired" required="">
                                        <option selected value="">Select  Status</option>

                                        <option value="Passesd Away">Passesd Away</option>
                                        <option value="Alive">Alive</option>

                                    </select>
                                    <div class="row"
                                    *ngIf="this.silblings.controls['Expired'].status=='INVALID' && this.ondataadded==true">
                                    <p>*Expired Mandatory</p>
                                </div>
                                </div>
                                <div class=" col-md-4 inputBox">

                                    <input type="text" name="SiblingComment" formControlName="SiblingComment" value=""
                                        minlength="2" maxlength="100" required>

                                    <label>AdditionalInformation</label>
                                    <div class="row"
                                    *ngIf="this.silblings.controls['SiblingComment'].status=='INVALID' && this.ondataadded==true">
                                    <p>*SiblingComment Mandatory</p>
                                </div>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary" (click)="onsiblingsadd()">add
                                        siblings</button>
                                </div>
                                <div class="col-md-4">
                                    <div class="table">
                                    <table *ngIf="siblingsdata.length > 0">
                                        <thead>
                                            <tr>
                                                <td><h5>Name</h5></td>

                                                <td><h5>Status </h5></td>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let siblingData of siblingsdata;let i=index">
                                            <td><h5>{{siblingData.Name}}</h5></td>
                                            <td><h5>{{siblingData.Expired}}</h5></td>
                                            <td (click)="deletsiblingdata(i)"><img
                                                    src="../../../assets/images/delete.png" alt=""
                                                    style="height: 20px;"></td>
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                               
                            </div>
                        </div>
                    </ng-container>


                </ng-container>



                <div class="row">

                    <h4>Likes and dislikes</h4>
                </div>
                <ng-container formGroupName="Likes_And_Dislikes">


                    <div class="row">
                        <div class=" col-md-4 inputBox">

                            <input type="text" name="What_makes_him/her_happy"
                                formControlName="What_makes_him/her_happy" value="" minlength="2" maxlength="100"
                                required>

                            <label>what makes him/her happy?</label>
                            <div class="row"
                            *ngIf="this.dementiaAssesmentBiography.get('Biography')?.get('Likes_And_Dislikes')?.get('What_makes_him/her_happy')?.status=='INVALID'    && this.Demographicsbtn==true">
                            <p>*What_makes_him/her_happy Mandatory</p>
                        </div>
                        </div>
                        <div class=" col-md-4 inputBox">

                            <input type="text" name="What_Are_things_upset_him/her"
                                formControlName="What_Are_things_upset_him/her" value="" minlength="2" maxlength="100"
                                required>

                            <label>What_Are_things_upset_him/her</label>
                            <div class="row"
                            *ngIf="this.dementiaAssesmentBiography.get('Biography')?.get('Likes_And_Dislikes')?.get('What_Are_things_upset_him/her')?.status=='INVALID'    && this.Demographicsbtn==true">
                            <p>*What_Are_things_upset_him/her</p>
                        </div>
                        </div>
                        <div class=" col-md-4 inputBox">

                            <input type="text" name="What_makes_him/her_physically_comfortable"
                                formControlName="What_makes_him/her_physically_comfortable" value="" minlength="2"
                                maxlength="100" required>

                            <label>what makes him/her physically comfortable</label>
                            <div class="row"
                            *ngIf="this.dementiaAssesmentBiography.get('Biography')?.get('Likes_And_Dislikes')?.get('What_makes_him/her_physically_comfortable')?.status=='INVALID'    && this.Demographicsbtn==true">
                            <p>*What_makes_him/her_physically_comfortable</p>
                        </div>
                        </div>

                    </div>
                </ng-container>


                <div class="row">

                    <h4>Dietary habits</h4>
                </div>






                <div class="row">

                    <h4>Timings of meals</h4>
                </div>

                <br>
                <ng-container formGroupName="Dietary_Habits">
                    <ng-container formGroupName="Timings_of_meals">



                        <div class="row">
                            <div class=" col-md-4 inputBox">

                                <input type="time" name="Breakfast" formControlName="Breakfast" value="" minlength="2"
                                    maxlength="100" >

                                <label>Breakfast</label>
                           
                            </div>
                            <div class=" col-md-6 inputBox">

                                <input type="text" name="BreakfastComment" formControlName="BreakfastComment"
                                    minlength="2" maxlength="100" >

                                <label>Breakfast additional information</label>

                            </div>
                            <div class="row">
                                <div class=" col-md-4 inputBox">

                                    <input type="time" name="Lunch" formControlName="Lunch" minlength="2"
                                        maxlength="100" >

                                    <label>Lunch</label>

                                </div>
                                <div class=" col-md-6 inputBox">

                                    <input type="text" name="LunchComment" formControlName="LunchComment" value=""
                                        minlength="2" maxlength="100" required>

                                    <label>Lunch additional information</label>

                                </div>
                            </div>
                            <div class=" col-md-4 inputBox">

                                <input type="time" name="Snacks" formControlName="Snacks" value="" minlength="2"
                                    maxlength="100" >

                                <label>Snacks</label>

                            </div>
                            <div class=" col-md-6 inputBox">

                                <input type="text" name="SnacksComment" formControlName="SnacksComment" value=""
                                    minlength="2" maxlength="100" >

                                <label>Snacks additional Information</label>

                            </div>
                            <div class="row">
                                <div class=" col-md-4 inputBox">

                                    <input type="time" name="Dinner" formControlName="Dinner" value="" minlength="2"
                                        maxlength="100" >

                                    <label>Dinner </label>

                                </div>
                                <div class=" col-md-6 inputBox">

                                    <input type="text" name="DinnerComment" formControlName="DinnerComment" value=""
                                        minlength="2" maxlength="100" required>

                                    <label>Dinner additional Information</label>

                                </div>

                            </div>
                  
                          
                        </div>

                    </ng-container>
                    <div class=" col-md-4 inputBox">

                        <input type="text" name="Favourite_foods" formControlName="Favourite_foods" value=""
                            minlength="2"  maxlength="100" required>
            
                        <label>favorite foods</label>
            
                    </div> 
                </ng-container>

                <div class="row">

                    <h4>preference of music</h4>


                </div><br>


                <ng-container formGroupName="Preference_Of_Music">



                    <div class="row">
                        <div class=" col-md-4 inputBox">

                            <input type="text" name="AdditionalInfo" formControlName="AdditionalInfo" value=""
                                minlength="2" maxlength="100" required>

                            <label>music additional information </label>
                            <div class="row"
                            *ngIf="this.dementiaAssesmentBiography.get('Biography')?.get('Preference_Of_Music')?.get('AdditionalInfo')?.status=='INVALID'    && this.Demographicsbtn==true">
                            <p>*AdditionalInfo data mandotary</p>
                        </div>
                        </div>
                        <div class=" col-md-4 inputBox">

                            <input type="text" name="OtherInfo" formControlName="OtherInfo" minlength="2"
                                maxlength="100" required>

                            <label>OtherInfo </label>
                            <div class="row"
                            *ngIf="this.dementiaAssesmentBiography.get('Biography')?.get('Preference_Of_Music')?.get('OtherInfo')?.status=='INVALID'    && this.Demographicsbtn==true">
                            <p>*OtherInfo data mandotary</p>
                        </div>
                        </div>


                        <div class=" col-md-4 inputBox">
                            <ng-multiselect-dropdown value="dementiamusic" [placeholder]="'select music'"
                        
                                [settings]="dropdownmusicSetting" [data]="dementiamusic"                                 (onSelect)="onmusicselect($event)" (onDeSelect)="onmusicDeselect($event)">
                            </ng-multiselect-dropdown>

                            <div class="row"
                            *ngIf="this.music==false    && this.Demographicsbtn==true">
                            <p>*Music data mandotary</p>
                        </div>

                        </div>






                    </div>
                </ng-container>


                <div class="row">

                    <h4>preference of tv or videos</h4>


                </div><br>




                <ng-container formGroupName="Preference_Of_TV_or_Videos">
                    <div class="row">
                        <div class=" col-md-4 inputBox">

                            <input type="text" name="AdditionalInfo" formControlName="AdditionalInfo" value=""
                                minlength="2" maxlength="100" required>

                            <label>video additional information </label>
                            <div class="row"
                            *ngIf="this.dementiaAssesmentBiography.get('Biography')?.get('Preference_Of_TV_or_Videos')?.get('AdditionalInfo')?.status=='INVALID'    && this.Demographicsbtn==true">
                            <p>*AdditionalInfo data mandotary</p>
                        </div>

                        </div>
                        <div class=" col-md-4 inputBox">

                            <input type="text" name="OtherInfo" formControlName="OtherInfo" minlength="2"
                                maxlength="100" required>

                            <label>OtherInfo </label>
                            <div class="row"
                            *ngIf="this.dementiaAssesmentBiography.get('Biography')?.get('Preference_Of_TV_or_Videos')?.get('OtherInfo')?.status=='INVALID'    && this.Demographicsbtn==true">
                            <p>*OtherInfo data mandotary</p>
                        </div>
                        </div>
                        <div class="col-md-4">

                            <ng-multiselect-dropdown value="dementiavideo" [placeholder]="'select video'"
                                [settings]="dropdownvideosetting" [data]="dementiavideo" 
                                (onSelect)="onvideoselect($event)" (onDeSelect)="onDeSelectVideo($event)">
                            </ng-multiselect-dropdown>
                            <div class="row"
                            *ngIf="this.video==false    && this.Demographicsbtn==true">
                            <p>*Video data mandotary</p>
                        </div>
                        </div>




                    </div>
                </ng-container>


                <div class="row">
                    <h4>Closest friend</h4>


                </div>
                <br>



                <ng-container formGroupName="Closest_Friends">
                    <ng-container formArrayName="Past_friends">
                        <div class="row" *ngFor="let Name_of_Siblings of getControls();let i=index">
                            <div class="row" [formGroupName]="i">
                                <div class="col-md-4 inputBox">
                                    <input type="text" name="Name" formControlName="Name" minlength="2" maxlength="100"
                                        required>

                                    <label>Friend Name </label>


                                </div>
                                <div class="col-md-4">
                                    <select class="form-select" name="FriendType" formControlName="FriendType">
                                        <option selected value="">Select Friend Name</option>

                                        <option value="Past">Past</option>
                                        <option value="Present">Present</option>

                                    </select>
                                </div>
                                <div class=" col-md-4 inputBox">

                                    <input type="text" name="PastFriendsComment" formControlName="PastFriendsComment"
                                        value="" minlength="2" maxlength="100" required>

                                    <label>PastFriendsComment </label>

                                </div>
                            </div>

                        </div>
                    </ng-container>

                    <ng-container formArrayName="Present_friends">

                        <div class="row" *ngFor="let Name_of_Siblings of getControls();let i=index">
                            <div class="row" [formGroupName]="i">
                                <div class="row">

                                    <div class="col-md-4 inputBox">
                                        <input type="text" name="Name" formControlName="Name" value="" minlength="2"
                                            maxlength="100" required>

                                        <label>Friend Name </label>


                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" name="FriendType" formControlName="FriendType">
                                            <option selected value="">Select Friend Name</option>

                                            <option value="Past">Past</option>
                                            <option value="Present">Present</option>

                                        </select>
                                    </div>
                                    <div class=" col-md-4 inputBox">

                                        <input type="text" name="PresentFriendsComment"
                                            formControlName="PresentFriendsComment" value="" minlength="2"
                                            maxlength="100" required>

                                        <label>PresentFriendsComment </label>

                                    </div>



                                </div>
                            </div>
                        </div>
                    </ng-container>

                </ng-container>

<div class="row">
<h4>Recreational_Activitie_They_Enjoy</h4>

                <ng-container formGroupName="Recreational_Activitie_They_Enjoy">

                    <ng-container formGroupName="Past">
                        <div class="row">


                            <div class=" col-md-4 inputBox">

                                <input type="text" name="AdditionalInfo" formControlName="AdditionalInfo" value=""
                                    minlength="2" maxlength="100" required>

                                <label>Other information </label>
                                <div class="row"
                                *ngIf="this.dementiaAssesmentBiography.get('Biography')?.get('Recreational_Activitie_They_Enjoy')?.get('Past')?.get('AdditionalInfo')?.status=='INVALID'    && this.Demographicsbtn==true">
                                <p>*AdditionalInfo data mandotary</p>
                            </div>
                            </div>

                            <div class="col-md-5">
                                <ng-multiselect-dropdown value="dementiaActivity" 
                                    [placeholder]="'select activity'" [settings]="dropdownActivitysetting"
                                    [data]="dementiaActivity" 
                                    (onSelect)="onActivitySelct($event)" (onDeSelect)="onDeSelectActivity($event)">
                                </ng-multiselect-dropdown>
                                <div class="row"
                            *ngIf="this.activity==false    && this.Demographicsbtn==true">
                            <p>*activity data mandotary</p>
                        </div>
                            </div>

                        </div>
                    </ng-container>
                </ng-container>
          
        </div>
            </ng-container>
            <br>
            <button id="next" type="button" class="btn btn-info" (click)="dementiaCreateAssesment()"
                [disabled]="step==4">SAVE AND
                NEXT</button>
        </div>


        <div>
            <!-- <button id="previous" type="button" class="btn btn-info" [disabled]="this.Type=    ='Biography'" (click)="Next()">Next</button> -->
            <button id="previous" type="button" class="btn btn-info" id="backbtn" [disabled]="this.Type=='Demographics'" (click)="previous()">BACK</button>


        </div>

    </form>




</div>