.leftCol {
    position: fixed;
    width: 120px;
    background-color: white;
    font-size: 21px;
    overflow-y: scroll;
    padding-top: 20px;
    margin-left: -15px;
    top: 75px;
    bottom: 0;
}
a,div{
    cursor:pointer;
    text-decoration: none;
    font-size: large;
    color:black;
    font-weight:bold;
}
.imgheight {
    height: 24px;
    width: 24px;
    text-align: center;

}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 3px;
    /* border: 0px solid #c60808; */
}