<div class="leftCol">

    <!-- <div (click)="onProfile()"> <img src="../../assets/images/icons8-user-48.png" class="imgheight" />
        <div>Profile</div>
    </div> -->
    <div (click)="onClickSupport()"> <img src="../../assets/images/icons8-user-48.png" class="imgheight" />
        <div>Suppoiiirt</div>
    </div>
    <div (click)="emergencyList()"><img src="../../assets/images/icons8-ambulance-50.png" class="imgheight" />
        <div>Emergency</div>
    </div>
    <div (click)=" CustomerList()"> <img src="../../assets/images/icons8-users-64.png" class="imgheight" />
        <div>Customers</div>
    </div>
    <a> <img src="../../assets/images/icons8-money-bag-30.png" class="imgheight" />
        <div>Finance</div>
    </a>
    <div (click)=" AnchorDashBoard() "><img src="../../assets/images/icons8-list-view-50.png" class="imgheight" />
        <div>Anchor</div>
    </div>
    <a><img src="../../assets/images/icons8-master-26.png" class="imgheight" />
        <div>Masters</div>
    </a>
    <div (click)="onDementiaClick()"><img src="../../assets/images/dementiaSymbol.png" class="imgheight" />
        <div class="accordion-body">Dementia</div>
    </div>
    <!-- <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Dementia
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" (click)="onDementiaClick()">dementia_Schedule</div>
            </div>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" (click)="onDementiaAssesmentForm()">intial_Assesment</div>
            </div>
        </div>
    </div> -->
    <div (click)="Insurance()"><img src="../../assets/images/healthcare (1).png" class="imgheight" />
        <div>insurance</div>
    </div>
    <div (click)="onOneTimeUser()"><img src="../../assets/images/OneTimeUser/PayPerUse.png" class="imgheight" />
        <div>One Time User</div>
    </div>

    <div (click)="partner()"><img src="../../assets/images/OneTimeUser/PayPerUse.png" class="imgheight" />
        <div>partners</div>
    </div>


</div>