
body{
    background-color: #f0f0f0 !important;

  }

  .bodycontent{
    margin-top: 0px;
    margin-left: 142px;
  }
.navbar {
    position: fixed;
    width:100vw;
    display: flex;
    background-color:white;
    -webkit-box-shadow: 0px 2px 6px 0px #b1b1b1;
    box-shadow: 0px 2px 6px 0px #b1b1b1;
  }

  .logoimg{
    height:64px;
    width: 100px;
}



.leftCol {
    position: fixed;
    width: 120px;
    background-color: white;
    font-size: 21px;
    overflow-y: scroll;
    padding-top: 20px;
    top: 75px;
    bottom: 0;
}
a,div{
    cursor:pointer;
    text-decoration: none;
    font-size: large;
    color:black;
    font-weight:bold;
}
.imgheight {
    height: 24px;
    width: 24px;
    text-align: center;

}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 3px;
    /* border: 0px solid #c60808; */
}


.cards {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-top: 10px;
}

.customerData {
    margin-top: 40px;
    margin-left: 20px;

}



.nameBorder{
    border-bottom: 1px solid #000000;

}

.searchbox {
    margin-top: 50px;
}

input {
    width: 300px;
    height: 50px;
}

h6 {
    color: green
}

/* h5 {
    background-color: rgb(173, 216, 230)
} */

.cmspdetails {
    margin-top: 20px;
}

.searchButton {
    margin-left: 10px;
    margin-top: 100px;
    width: 50px;
}

.city {
    margin-left: 1200px;
}

.textarea {
    width: 320px;
}

.checkbox {
    width: 20px;
    height: 20px;
}

.radioboxses {
    margin-left: 200px;
}

.requestbtn {
    margin-left: 700px;
}

.feesAnv {
    margin-left: 200px;
}

.reqType {
    margin-left: 200px;
    margin-top: 30px;
    width: 50px;
    height: 50px;
}





.inputBox input {
    width: 93%;
    padding: 0.625rem 10px;
    font-size: 1rem;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: 1px solid #ccc;
    background: transparent;
    border-radius: 4px;

}

.inputBox label {
    position: absolute;
    top: 0;
    left: 37px;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: grey;
    pointer-events: none;
    transition: 0.5s;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label,
.inputBox input:not([value=""]) ~ label {
    top: -1.125rem;
    left: 36px;
    color: #F79122;
    font-size: 1rem;
    background-color: white;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.inputBox input:focus {
    outline: none;
    /* border: 2px solid #1a73e8; */
}

.textColor {
    color: #F79122
}

.sponserdetailsplate {
    padding: 10px;
    width: 180px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(59, 178, 186, 0.83);
    color: white;

}

.uploadBox {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 182px;
}

.previosButton {
    text-align: initial;
}

.imgSize {
    width: 45px;
}




.createReqBtn {
    background: rgba(247, 145, 35, 0.88);
    padding: 6px 15px;
    color: white;
    border-radius: 15px;
    border: none;
}
.closebtn{
    background-color: red;
    padding: 6px 15px;
    color: white;
    border-radius: 15px;
    border: none;
    
}

#aggreementform {
    margin-left: 70px;
    height: 400px;
    margin-top: 20px;
    background-color: white;
    /* width: auto; */
    width: 900px;
}

#agreementbtn {
    margin-left: -32%;
    margin-top: 0%;
}

#heading {
    background-color: aqua;
    margin-left: 160px;
}

.formStyle {
    margin-top: 100px;
 
}

.checkboxstyle {
    width: 20px;
    height: 20px;
}

.dropdown {
    width: 480px;
}

.requestType {
    margin-left: 100px;
    margin-top: 50px;
    width: 400px;
}

.serviceType {
    margin-top: 50px;
    width: 400px;
}
.serviceSelect{
    width: 280px;
}
.anvayaaCharges{
    margin-top: 50px;
}

.titleCreate{
    margin-left: 400px;
}
.nextBtn{
    margin-top: 200px;
    margin-left: 200px;
}
.support{
    background-color:#3DEDE2;
    margin-left: 50px;
    font-size: 25px;
    border-radius: 10px;
    width: 50px;

}

.nxtbtn{
  
   margin-top: 150px ;
   margin-left: 150px;
}

.selectType{
    width: 220px;
    height: 42px;
}
/* .border{
    width: 300px;
   
} */
.NextScreen{
    margin-top: 20px;
}
.selectDays{
    margin-top: 20px;
    margin-left: 0px;
}
.paymentMode{
    margin-top: 47px;
    margin-left: -35px;
}
.createRequest{
    width: 30px;
    margin-left: 835px;
    margin-top: 41px;
}

.planData{
margin-left: 300px;

}
.plaDetails{
    width:10px;
    font-size: 15px;
}
.searchBox{
    width: 500px;
   border-radius: 1px solid #F79123;
}
.planType{
  margin-left: 200px;
}
.validationNames{
 /* font-size: 15px; */

font-size: 15px;
 

}
.daysSize{
    font-size: 15px;
}
.selectDayss{
    margin-top: 31px;
    margin-left: -81px;
}
.sponser{
    background-color: #D9D9D9;
    /* border-radius: 1px solid black; */
}
.sponserDetails{
    background-color:#D9D9D9;
}
.bgcolors{
    background-color: #F1F1F1;
}