.bodycontent{
    margin-top: 100px;
    margin-left: 109px;
  }
  .tablecur{
    cursor: pointer;
  }

  .reuestHeading{
    text-align: center;
    font-weight: 700;
    font-size: xx-large;
  }

  table{
    font-size: smaller;
    text-align: center;
}
  